* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("img/bg-pattern-intro.svg"), -webkit-linear-gradient(#ff8f70, #ff3d54);
  font-family: sans-serif;
}

li {
  list-style: none;
}

header {
  color: white;
  background-color: #25252d;
  height: 3rem;
  overflow: hidden;
}

header nav {
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav a:hover {
  color: blanchedalmond;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

header nav .menu .item:hover {
  text-decoration: underline;
}

section {
  overflow: hidden;
}

section h3 {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

section .but {
  text-align: center;
}

section .but .star {
  text-align: center;
  color: #ff525d;
  background-color: white;
  padding: 15px;
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 50px;
}

section .but .star:hover {
  background-color: transparent;
  color: white;
  border: white solid 2px;
}

section .info {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 10rem;
  margin: 10px 5px;
}

section .info p {
  margin: 10px 5px;
}

section .info p input {
  outline: none;
}

section .info p input.gen {
  font-size: 20px;
  margin-top: 50px;
  height: 30px;
  width: 200px;
  border: white solid 1px;
  color: #ff7a85;
  padding: 10px;
}

section #final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0px 30px;
}

section #final .result {
  font-size: 30px;
  margin-bottom: 20px;
}

section #final .partner {
  font-size: 30px;
  margin-bottom: 20px;
}

section #huswif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

section .com {
  text-align: center;
}

section .com .co {
  text-align: center;
  color: #ff525d;
  background-color: white;
  padding: 15px;
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 50px;
}

section .com .co:hover {
  background-color: transparent;
  color: white;
  border: white solid 2px;
}

section .restart {
  text-align: center;
  margin-top: 30px;
}

section .restart .resbutton {
  color: #ff525d;
  background-color: white;
  padding: 15px;
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 50px;
}

section .restart .resbutton:hover {
  background-color: transparent;
  color: white;
  border: white solid 2px;
}

section .hus {
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

section .part {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
}

footer {
  color: white;
  background-color: #25252d;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  padding: 0px 10px;
  max-width: 100%;
  position: relative;
  top: 150px;
}

footer .about {
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: blanchedalmond;
  text-decoration: underline;
}

footer li {
  margin: 10px 0;
}

@media only screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    position: fixed;
    left: -100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
            transform: translateY(-5px) rotate(-45deg);
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 48px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #25252d;
  }
  .menu .item {
    margin: 5px 0;
  }
  .menu.active {
    left: 0;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
/*# sourceMappingURL=final.css.map */